<div class="well well-sm">
    <div>
        <button class="btn btn-secondary" ng-click="home.searching()">Search Page</button>
    </div>
    <p>Recommendations based on your History</p>
    <div class="card-group">
    <div class="card col-lg-2" ng-repeat="datas in home.data">
        <h6>{{datas.SKU}}</h6>
        <h6>{{datas.categorydescription}}</h6>   
        <h6>{{datas.description}}</h6>  
    </div>
</div>
<p>Trending Today</p>
<div class="card-group">
<div class="card" ng-repeat="datas in home.purchasedata">
    <h6>{{datas.SKU}}</h6>
    <h6>{{datas.categorydescription}}</h6>   
    <h6>{{datas.description}}</h6>  
</div>
</div>


</div>